<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons>
          <ion-button (click)="serialPortConnect()" slot="end">
              <ion-icon name="send-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title slot="start">Thermometer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image" padding>
  <p>Your temperature is</p>
  <p class="temp">00</p>
  <img src="../../assets/imgs/temp.png">
</ion-content>